
/* =Lists
----------------------------------------------- */

ul,
ol {
    margin: 0 0 em($spacing-paragraph) 0;
	padding-left: em($spacing-list);
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li > ul,
li > ol {
    margin-bottom: 0;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em em($spacing-paragraph);
}

/* Unstyled Lists */
.list-unstyled {
	@include list-unstyled;
}

/* Inline List */
.list-inline {

	@include list-unstyled;
	margin: 0 -5px;

	li {
		display: inline-block;
		padding: 0 5px;
	}
}
