
/* =Typography
----------------------------------------------- */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
body,
button,
input,
select,
textarea {
    color: $color-text-base;
    font-family: $font-fam-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $font-lh-base;
}
@media (max-width: 47.9375em) {
    body,
    button,
    input,
    select,
    textarea {
        font-size: em($font-size-sm);
    }
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $color-text-dark;
	font-weight: $font-weight-header;
	line-height: $font-lh-header;
	margin-top: rem(5px);
	margin-bottom: rem(15px);
	text-rendering: optimizeLegibility;
}
h1 {
    font-size: em($font-size-base * 2.5 );
}
h2 {
    font-size: em($font-size-base * 2);
}
h3 {
    font-size: em($font-size-base * 1.5);
}
h4 {
    font-size: em($font-size-base * 1.25);
}
h5 {
    font-size: em($font-size-base * 1.125);
}
h6 {
    font-size: em($font-size-base);
}
a {
	color: $color-text-link;
	text-decoration: none;
}
a:hover,
a:focus {
	color: darken($color-text-link, 10%);
}
p {
    margin-bottom: em(24px); /* @TODO paragraph spacing */
}
dfn, cite, em, i {
    font-style: italic;
}
blockquote {
    border-left: 4px solid rgba($color-border-dark, 0.1);
    color: $color-text-secondary;
    font-size: 1.25em;
    font-style: italic;
    line-height: $font-lh-quote;
    margin: 0 .5em 24px .5em; /* @TODO paragraph spacing */
    padding: .5em 0 .5em 1em;
}
blockquote p:last-child {
	margin-bottom: 0;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background-color: $color-bg-code;
    border: 1px solid rgba($color-border-dark, 0.1);
    border-radius: 2px;
    font-family: $font-fam-code;
    font-size: em($font-size-pre);
    line-height: $font-lh-base;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em;
}
code, kbd, tt, var {
    font-family: $font-fam-code;
    font-size: em($font-size-code);
}
code {
    padding: 0.125rem 0.25rem;
    background-color: $color-bg-code;
    border: 1px solid rgba($color-border-dark, 0.1);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
pre code {
    background-color: transparent;
    border: none;
    padding: 0;
}
abbr, acronym {
    border-bottom: 1px dotted rgba($color-border-dark, 0.1);
    cursor: help;
}
mark, ins {
    background-color: rgba($color-bg-highlight, 0.5);
    text-decoration: none;
}
big {
    font-size: 125%;
}
