
/* =Footer
----------------------------------------------- */

/* Footer Columns */
.site-footer {

	background: #59928c; /* secondary color */
	color: #fff;
	color: rgba(255,255,255,0.8);
	font-size: em($font-size-footer);
	padding: em(60px, $font-size-footer) em(40px, $font-size-footer);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #fff;
	}

	@include blend-links();

}

/* Footer Info */
.footer-info {

	background: #26393d; /* primary color */
	color: rgba(255,255,255,0.6);
	font-size: em($font-size-footer-info);
	padding: em(40px, $font-size-footer-info) em(30px, $font-size-footer-info);
	text-align: center;

	@include blend-links();

	// Social Menu
	.social-menu {
		margin-bottom: em(20px, $font-size-footer-info);
	}
	.social-menu > ul > li > a:before {
		font-size: rem(24px);
	}

	// Footer Menu
	.footer-menu {
		padding-top: em(8px, $font-size-footer-info);
	}
	.footer-menu > ul {
		margin: 0;
	}
	.footer-menu > ul > li {
		display: inline-block;
		list-style: none;
		padding: 0 em(5px, $font-size-footer-info);
	}

}
