/* =Grid System
----------------------------------------------- */

.row {
	margin-left: em(-$grid-gutters);
	margin-right: em(-$grid-gutters);
}

%grid-setup-props {
	margin-bottom: em(30px);
	position: relative;
	min-height: 1px;
	padding-left: em($grid-gutters);
	padding-right: em($grid-gutters);
}

@for $i from 1 through $grid-columns {
	@each $breakpoint in $breakpoints {
		.col-#{$breakpoint}-#{$i} {
			@extend %grid-setup-props;
		}
	}
}

@each $breakpoint in $breakpoints {
	@include min-width($breakpoint) {
		@for $i from 1 through $grid-columns {
			.col-#{$breakpoint}-#{$i} {
				float: left;
				width: 100% / $grid-columns * $i;
			}
		}
	}
}
