
/* =Header Media
----------------------------------------------- */

.site-header-media img {
	display: block;
	width: 100%;
}
@media (min-width: 68.8125em) {
	.site-header-media {
		position: relative;
		z-index: 1;
	}
	.site-header-media.featured-image {
		margin: 0;
	}
	.site-header-media.fs {
		height: 100vh;
		z-index: 1;
	}
	.has-top-bar .site-header-media.fs {
		margin-top: -40px; /* offset for top bar */
	}
	.site-header-media.darken {
		background-color: $color-bg-black;
	}
	.site-header-media.lighten {
		background-color: $color-bg-white;
	}
	.site-header-media.darken.fw img,
	.site-header-media.lighten.fw img {
		opacity: .6;
	}
	.site-header-media .entry-header {
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		z-index: 1;
	}
	.site-header-media .entry-title,
	.site-header-media .entry-meta {
		color: $color-text-light;
	}
	.site-header-media .entry-title {
		font-size: em($font-size-header-media-title);
		letter-spacing: $letter-spacing;
		margin: 0 auto;
		max-width: 900px;
		text-transform: uppercase;
	}
	.site-header-media .entry-meta {
		font-size: em($font-size-header-media-meta);
		margin-top: em($font-size-header-media-meta, $font-size-header-media-meta);
	}
}
@media (max-width: 68.75em) {
	.site-header-media .entry-header {
		padding-top: em(40px);
		padding-bottom: em(40px);
	}
	.site-header-media .entry-title {
		line-height: $font-lh-header-lg;
	}
}
