/* =Top Bar
----------------------------------------------- */

.site-top-bar {

	background-color: $color-bg-top-bar;
	color: $color-text-light;
	font-size: em($font-size-top-bar);
	padding: .8em 40px;
	position: relative;
	z-index: 2;

	// Top Text
	.top-bar-text {
		float: left;
	}
	&.has-top-menu .top-bar-text {
		float: right;
		margin-right: 20px;
	}

	// Top Social
	.social-menu {

		float: right;
		padding-right: 5px;

		> ul > li {
			padding: 0;
		}
		> ul > li > a {
			padding: 0 1px;
		}
		> ul > li > a:before {
			font-size: $font-size-base;
		}
	}

	// Top Menu
	.top-bar-menu {

		float: left;
		margin: -.8em -.7em; /* counter .3m em top/bottom padding of .site-top-bar > .wrap and .7em left/right padding of .top-bar-menu a */

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			float: left;
		}
		a,
		a:hover,
		a:focus {
			color: inherit;
			display: inline-block;
			padding: .8em .7em; // Matches top/bottom padding of .site-top-bar > .wrap
		}
		a:hover,
		a:focus {
			background-color: rgba($color-bg-black, 0.2);
		}

	}

}
