
/* =Buttons
----------------------------------------------- */

.btn {
	display: inline-block;
    font-size: em($font-size-btn);
    letter-spacing: $letter-spacing;
    line-height: $font-lh-btn;
    padding: em(12px, $font-size-btn) em(24px, $font-size-btn);
    text-decoration: none;
    text-transform: uppercase;
}
.btn-xs {
	font-size: em($font-size-btn-xs);
	padding: em(6px, $font-size-btn-xs) em(10px, $font-size-btn-xs);
}
.btn-sm {
	font-size: em($font-size-btn-sm);
	padding: em(10px, $font-size-btn-sm) em(15px, $font-size-btn-sm);
}
.btn-lg {
	font-size: em($font-size-btn-lg);
	padding: em(18px, $font-size-btn-lg) em(30px, $font-size-btn-lg);
}
.btn-xl {
	font-size: em($font-size-btn-xl);
	padding: em(20px, $font-size-btn-xl) em(40px, $font-size-btn-xl);
}
.btn-xxl {
	font-size: em($font-size-btn-xxl);
	padding: em(24px, $font-size-btn-xxl) em(54px, $font-size-btn-xxl);
}
.btn-xxxl {
	font-size: em($font-size-btn-xxxl);
	padding: em(28px, $font-size-btn-xxxl) em(64px, $font-size-btn-xxxl);
}
@include max-width(xs) {
	.btn + .btn {
		margin-top: .3125em;
	}
}
.btn > .fa.before {
	margin-right: 0.5em;
}
.btn > .fa.after {
	margin-left: 0.5em;
}

/* Colors */
.btn-default {
	background-color: $color-bg-btn;
	color: $color-text-light;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.current,
.btn-default.active {
	background-color: $color-bg-btn-hover;
	color: $color-text-light;
}
.btn-light {
	background-color: $color-bg-btn-light;
	color: $color-text-dark;
}
.btn-light:hover,
.btn-light:focus,
.btn-light.current,
.btn-light.active {
	background-color: $color-bg-btn-light-hover;
	color: $color-text-dark;
}

/* Hamburger */
.hamburger {
	display: block;
	position: relative;
}
.hamburger .wrap {
	display: block;
	position: relative;
	width: 22px;
	height: 14px;
}
.hamburger .wrap span {
	background-color: $color-bg-hamburger;
	background-color: rgba($color-bg-hamburger, .8);
	border-radius: 1px;
	display: block;
	opacity: 1;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .2s cubic-bezier(0.04,.78,.35,.92), top .2s ease-in-out;
	transition: transform .2s cubic-bezier(0.04,.78,.35,.92), top .2s ease-in-out;
	width: 100%;
	height: 2px;
}
.hamburger:hover .wrap span,
.hamburger:focus .wrap span {
	background-color: $color-bg-hamburger;
}
.hamburger .top {
	top: 0;
}
.hamburger.close .top {
	top: 50%;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.hamburger .middle {
	top: 50%;
	margin-top: -1px;
}
.hamburger.close .middle {
	margin-top: 0;
	top: 50%;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.hamburger .bottom {
	bottom: 0;
}
.hamburger.close .bottom {
	opacity: 0;
}
