
/* =Media
----------------------------------------------- */

/* Images */
img {
	display: block;
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

/* Captions */
.wp-caption {
	max-width: 100%;
	text-align: center;
}
.wp-caption.alignnone,
.wp-caption.aligncenter {
 	margin-bottom: em($spacing-paragraph);
}

/* @noflip */
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
/* @noflip */
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	display: block;
	border: 0 none;
	height: auto;
	margin: 0;
	padding: 0;
	width: auto;
}
.wp-caption-text,
.wp-caption-dd {
	font-size: em($font-size-caption);
	line-height: $font-lh-caption;
	text-align: center;
}
.wp-caption .wp-caption-text {
	background: $color-bg-caption;
	padding: 20px;
	margin: 0;
}
.wp-caption.thumbnail .wp-caption-text {
	padding: 10px;
}
.has-caption {
	display: inline-block;
	margin-bottom: 8px;
}

/* Galleries */
.gallery {
	margin-bottom: em($spacing-paragraph);
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {
	display: block;
}

/* Parallax */
.greenlight-parallax .parallax-figure {
	margin: 0;
}
.greenlight-parallax .parallax-figure img {
	width: 100%;
}
@include min-width(lg) {
	.greenlight-parallax {
		position: relative;
		overflow: hidden;
		z-index: 0;
	}
	.greenlight-parallax .parallax-figure {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	/* @noflip */
	.greenlight-parallax .parallax-figure img {
		display: block;
		opacity: 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		max-width: none;
		max-height: none;
		min-width: 100%;
		min-height: 120%;
		-ms-transform: translate(-50%, 0); /* IE9 */
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
		transform: translateX(-50%);
		-webkit-transition: opacity .3s ease-in-out;
		transition: opacity .3s ease-in-out;
		width: auto;
	}
	.greenlight-parallax.on .parallax-figure img {
		opacity: 1;
	}
	.greenlight-parallax.darken.on .parallax-figure img,
	.greenlight-parallax.lighten.on .parallax-figure img {
		opacity: .6;
	}
}
@include max-width(lg) {
	.greenlight-parallax .parallax-figure img {
		-webkit-transform: none !important;
		transform: none !important;
	}
}
