
/* =Widgets
----------------------------------------------- */

.widget-title {
	font-size: $font-size-widget-title;
	letter-spacing: $letter-spacing;
	text-transform: uppercase;
}

/* Sidebar */
.site-sidebar .widget {
	margin-bottom: em(40px);
}
