/* =Buttons
----------------------------------------------- */

.btn {
	display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 1.42857143;
    padding: 1.1em 2.2em;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-xs {
	font-size: 10px;
	padding: .6em 1em;
}
.btn-sm {
	font-size: 10px;
	padding: .9em 1.5em;
}
.btn-lg {
	font-size: 12px;
	padding: 1.5em 2.5em;
}
.btn-xl {
	font-size: 14px;
	padding: 1.42857em 2.85714em;
}
.btn-xxl {
	font-size: 15px;
	padding: 1.46666em 3.33333em;
}
.btn-xxxl {
	font-size: 16px;
	padding: 1.7em 4em;
}
@media (max-width: 480px) {
	.btn+.btn {
		margin-top: 5px;
	}
}
.btn > .fa.before {
	margin-right: 0.5em;
}
.btn > .fa.after {
	margin-left: 0.5em;
}

/* Colors */
.btn-default {
	background-color: #26393d; /* primary color */
	color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.current,
.btn-default.active {
	background-color: #59928c; /* secondary color */
	color: #fff;
}
.btn-light {
	background-color: #f2f2f2;
	color: #222;
}
.btn-light:hover,
.btn-light:focus,
.btn-light.current,
.btn-light.active {
	background-color: #ddd;
	color: #222;
}

/* Hamburger */
.hamburger {
	display: block;
	position: relative;
}
.hamburger .wrap {
	display: block;
	position: relative;
	width: 22px;
	height: 14px;
}
.hamburger .wrap span {
	background-color: #fff;
	background-color: rgba(255,255,255, .8);
	border-radius: 1px;
	display: block;
	opacity: 1;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .2s cubic-bezier(0.04,.78,.35,.92), top .2s ease-in-out;
	transition: transform .2s cubic-bezier(0.04,.78,.35,.92), top .2s ease-in-out;
	width: 100%;
	height: 2px;
}
.hamburger:hover .wrap span,
.hamburger:focus .wrap span {
	background-color: #fff;
}
.hamburger .top {
	top: 0;
}
.hamburger.close .top {
	top: 50%;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.hamburger .middle {
	top: 50%;
	margin-top: -1px;
}
.hamburger.close .middle {
	margin-top: 0;
	top: 50%;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.hamburger .bottom {
	bottom: 0;
}
.hamburger.close .bottom {
	opacity: 0;
}
