/* =Widgets
----------------------------------------------- */

.widget-title {
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Sidebar */
.site-sidebar {

	.widget {
		margin-bottom: 40px;
		margin-bottom: 2.5rem;
	}

}
