// ==========================================================================
// Global Config
// ==========================================================================

// Font Sizes
$font-size-xxxl					: 64px;
$font-size-xxl					: 40px;
$font-size-xl					: 24px;
$font-size-lg					: 20px;
$font-size-base 				: 16px;
$font-size-md					: 15px;
$font-size-sm					: 14px;
$font-size-xs					: 13px;
$font-size-xxs					: 12px;
$font-size-xxxs					: 11px;
$font-size-micro				: 10px;

$font-size-code					: $font-size-sm;
$font-size-pre					: $font-size-md;

$font-size-top-bar 				: $font-size-xs;
$font-size-top-search			: $font-size-xl;

$font-size-site-title			: $font-size-xl;
$font-size-site-desc			: $font-size-sm;
$font-size-header-menu			: $font-size-xxs;
$font-size-header-menu-mobile	: $font-size-md;
$font-size-header-menu-dropdown	: $font-size-xxs;

$font-size-header-media-title	: $font-size-xxxl;
$font-size-header-media-meta	: $font-size-sm;
$font-size-sroll-to				: $font-size-xxl;

$font-size-footer				: $font-size-md;
$font-size-footer-info			: $font-size-sm;

$font-size-comments				: $font-size-md;
$font-size-comments-meta		: $font-size-xxs;
$font-size-reply-title			: $font-size-lg;

$font-size-post-title			: $font-size-xxl;
$font-size-post-meta			: $font-size-xxxs;

$font-size-widget-title			: $font-size-base;

$font-size-btn-xs				: $font-size-micro;
$font-size-btn-sm				: $font-size-micro;
$font-size-btn					: $font-size-xxxs;
$font-size-btn-lg				: $font-size-xxs;
$font-size-btn-xl				: $font-size-sm;
$font-size-btn-xxl				: $font-size-base;
$font-size-btn-xxxl				: $font-size-base;

// Font Line Heights
$font-lh-base 					: 1.6;
$font-lh-header 				: 1.4;
$font-lh-header-lg 				: 1.2;
$font-lh-btn 					: 1.42857143;

// Font Weights
$font-weight-base				: 300;
$font-weight-header				: 600;

// Font Families
$font-fam-code					: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

// Letter Spacing
$letter-spacing 				: 1px;

// Descriptive Base Colors

// Color Usage

// Color Palettes
